@model Tema4MvcApp.Models.LoginUser

@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>

<p>
    Please enter your user name and password. @Html.ActionLink("Register", "Register", "Client") if you don't have an account.
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Username)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div>
            <font color="red">@ViewBag.Mess</font>
        </div>
        <p>
            <input type="submit" value="Login" />
        </p>
    </fieldset>
}
